* {
  font-family: 'Poppins', sans-serif; }

#nav .nav-link {
  color: #e3e1da; }

#nav .nav-link:hover {
  color: #ff0000; }

#about {
  background-image: url(../img/about-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 200px; }
  #about h1 {
    font-size: 80px; }
  #about h1, #about h2, #about h3, #about li {
    font-family: 'Source Code Pro', monospace; }
