$text-color: #e3e1da;
$dark-overlay: rgba(0,0,0,0.7);


* {
	font-family: 'Poppins', sans-serif;
}

#nav {
	.nav-link {
		color: $text-color;
	}
	.nav-link:hover {
		color: #ff0000;
	}
	

}

#about {
	background-image: url(../img/about-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 200px;

	h1 {
		font-size: 80px;
	}

	h1,h2,h3,li {
		font-family: 'Source Code Pro', monospace;
	}

}
